p {
  margin: 0;
}

article {
  display: flex;
  flex-direction: column;
}

.question,
.result {
  display: none;
}

.score {
  letter-spacing: 20px;
}

.reStudy::before {
  content: "다시 공부하자";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);

  background: #fff;
  color: #dc3545;
  font-size: 28px;
  font-weight: 700;
  padding: 0 10px;
}

.question-mark {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
/* 해설(정라) 테이블 */
table {
  table-layout: fixed;
}
th,
td {
  word-break: break-all;
  vertical-align: middle;
}

tr > th:first-child {
  width: 100px;
  box-sizing: border-box;
}
